name: Linting

on:
  pull_request:
  push:
    branches:
      # We need to add in on main branch as well for the branch comparison
      - main
  workflow_dispatch:

defaults:
  run:
    working-directory: ./

permissions:
  contents: read # for checkout repository

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Project
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint --max-warnings=1275
